#team{
    padding-top: 150px;
}
#apertool{
    padding-top: 120px;
}
.mt50{
    margin-top: 50px;
}
/* team-wrapper */
.team-wrapper{
    width: 90%;
    margin: auto;    
}
.team-wrapper p{
    font-weight: 500;
    font-size: 1.25rem;
    line-height: 1.75rem;
}
/* team-row */
.team-row{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

@media only screen and (max-width: 600px){
	.team-row{
        display: block;
    }    
}